 * {
    margin: 0;
    padding: 0;
} 


body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed ;
    background-size: cover;
}

section {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem; 
}

section input {
    width: 30rem; 
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem; 
    margin-bottom: 1rem; 
    color: #45474B; 
    font-size: 1rem; 
    box-sizing: border-box;
}

.container {
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

html::-webkit-scrollbar {
    width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(73, 73, 73, 0);
    border: solid rgba(73, 73, 73, 0.392);;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(123, 123, 123, 0);
    margin-top: 4em;
    margin-bottom: 6.5em;
    border-radius: 10px;
}

html::-webkit-scrollbar-corner {
    background-color: rgb(94, 84, 211);
}